.pytest_cache
models/*.ckpt
.idea


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

__pycache__

# Hydra and WNB
!multirun/
multirun/*
!multirun/.gitkeep
!outputs/
outputs/*
!outputs/.gitkeep

# Local Model Store from ONXX
!models/
models/*
!models/.gitkeep