[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
torch = "*"
datasets = "*"
transformers = "*"
pytorch-lightning = "*"
wandb = "*"
pandas = "*"
hydra-core = "*"
omegaconf = "*"
torchmetrics = "*"
dvc = {extras = ["s3"], version = "*"}
hydra-colorlog = "*"
onnxruntime = "*"

[dev-packages]
isort = "*"
pytest = "*"

[requires]
python_version = "3.7"
