[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytorch-lightning = "*"
datasets = "*"
scikit-learn = "*"
hydra-core = "*"
hydra-colorlog = "*"
transformers = "*"
omegaconf = "*"
onnxruntime = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
torch = "*"
wandb = "*"
pandas = "*"
torchmetrics = "*"
isort = "*"
pytest = "*"
dvc = {extras = ["s3"], version = "*"}

[requires]
python_version = "3.7"
